[2014-12-12 17:42] msigley opened #1 "Improvements to clearing oembed caches"
Kevin,

I saw your post on the issue report for improvements to the oembed caches. I saw you were asking for suggestion to improve your cache clear method. Here is a function I use in one of my plugins. It is much more efficent. You could narrow its focus down by post_type by doing a MySQL JOIN.

[code]

[2014-12-13 01:50] #1 closed, assigned to nobody

[2015-09-16 19:43] cavebeat opened #6 "release on WP is ahead of GH"
small issue
https://wordpress.org/plugins/lazy-load-for-videos/ is a few versions ahaead of the github releases.

[2015-09-17 20:35] kevinweber commented on #6
Thanks for the suggestion!
I decided to not add single releases on Github. You get all releases from WordPress.org directly: https://wordpress.org/plugins/lazy-load-for-videos/developers/

[2015-09-17 20:35] #6 closed

[2016-05-16 07:34] jeffmcneill opened #9 "Cache thumbnails for faster Lazy Loading"
Hello, it would be great to determine the thumbnail for each video (and embed the red youtube button, or other choice) one time only, and store that file locally. Then on next page load, if the file is detected (in some well-named/organized spot) it would not have to go and fetch a new thumbnail (which is generally not changed) on each page load. I realize there is a quality determination for the

[2016-05-17 01:22] kevinweber commented on #9
Hi Jeff,
that's a nice idea. I'm just not sure if that is worth the effort.
1. Caching the red Youtube button might be handled by the web browser already [guess].
2. Caching thumbnails is in so far not necessary because the majority of sites doesn't have the same video and thumbnails on more than one or two pages [hypothesis].

I won't spend more time thinking about this but feel free to make it w

[2016-05-18 14:07] jeffmcneill commented on #9
Hi Kevin,

Ok, so I guess the name of the file being *0* is the big problem here? That's easy to fix, of course. Name the thumbnail the same as the video URI. Then it is unique across the web.

The reality is that this part of the lazy load isn't lazy at all, and it ends up taking time and resources which are unnecessary. Even the DNS query takes time. And time, my friend is money.

[2016-05-19 02:26] kevinweber commented on #9
Sorry, I don't get it. Please give a more specific example, provide a link to a page where I can see that behavior, and, ideally, submit a pull request.

[2016-10-04 08:03] jeffmcneill opened #10 "Support Lazy Loading Videos from Google Drive"
Google Drive has a video player and can stream video. This can be done in an iframe or as an object. Would be great to have the same lazyload support for Google Drive (there is some blocking code in the player currently, that slows down page load).

[2016-10-11 03:57] kevinweber commented on #10
How is that related to my WordPress plugin? Or are you suggesting that Google should implement (better) lazy loading into Google Drive?

Closing this topic for now because I don't think this is related enough to the WordPress plugin.

[2016-10-11 03:57] #10 closed

[2016-10-12 06:36] jeffmcneill commented on #10
The plugin supports lazy loading YouTube and Vimeo. This issue is to request that Google Drive also be supported, like with support for YouTube and Vimeo. The video player is very similar to the YouTube player. Not sure how this is confusing.

[2017-10-06 12:54] MakarkinPRO opened #11 "Issue with Visual Composer"
Hi I have that issue when building page with Visual Composer

https://www.screencast.com/t/mYuvxwfCC

Any ideas how to solve it?

[2018-01-17 18:55] MaximPro opened #12 "Elementor Page Builder Compatibility Request (Your Plugin doesn't work with Elementor yet)"
Hi Kevin ;)

Thanks for developing this really nice plugin!
I really like it so far - it is one of the must have plugins, especially when you have many videos on one site!

Recently however I changed from divi builder to elementor, wich is much faster then divi.
But with elementor it doesn't seem to work properly, because it still shows just the normal youtube video.

**Could you please implement

[2018-03-15 03:16] kevinweber opened #13 ""&feature=youtu.be" converts video into playlist"
Using a Youtube URL such as "https://www.youtube.com/watch?v=kzJOAPuQfN0&amp;feature=youtu.be" that ends with "&feature=youtu.be" causes the video to be converted into a playlist.

[2018-04-17 08:14] ahmadabdolsaheb opened #14 "video links appear in the content of the posts instead of iframes"
Thank you very much for the plugin.
I noticed that the plugin only lazy load in the excerpts not in the content of the posts. Additionally the plugin shows video links in the content of the posts instead of iframes

[2018-05-31 13:46] jmaris opened #15 "does not work in stickied/featured posts"
If i sticky or feature a post on my home page, any lazy loaded video in it is not displayed

[2019-03-28 20:49] Code-Bear opened #16 "Video height and width"
Maybe I am just missing something but when I use the Wordpress embed shortcode and include a height and width the plugin seems to ignore them. Instead is sized the width to the parent element and the height just seems to be the default youtube video height. We have videos on our site that are 720x405 but they just end up displaying at 720x363.

[2019-03-31 13:30] kevinweber commented on #16
Hi Bear,
this plugin doesn't support a custom height/width. If you want to change
the height/width, you'll have to take the appropriate CSS classes from the
video element and add custom CSS. Here's a related answer:
https://wordpress.org/support/topic/wrong-aspect-ratio-with-embedded-videos/

On Fri, Mar 29, 2019 at 5:49 AM Code-Bear <notifications@github.com> wrote:

[2019-04-01 14:33] Code-Bear commented on #16
I was able to control the size with CSS but it does look like the plugin overrides my speficied size fromt he shortcode. I am thankful for the plugin but it seems it would be easy enough to get the size params from the shortcode and at least use those for the size of the video instead of overriding/ignoring any size settings and simply setting the video to load with the Youtube's default size.

Be

[2019-04-04 15:22] Jez86 opened #17 "youtube "t=XX" parameter applying on preroll not on main video"
When I tried to load video not from the beginning using url like :

https://youtu.be/XXXXXXXX?t=XX

the t parameter is applying on the preroll video (if existing) not on the main video of the playlist.

I tried to make some modifications in /modules/lazyload-youtube/index.js but I didn't had any result...

[2019-04-29 10:46] suziehk opened #18 "consistent error code"
PHP Fatal error:  Cannot declare class Lazyload_Videos_Youtube, because the name is already in use in /home/xxxx/public_html/wp-content/plugins/lazy-load-for-videos/frontend/class-youtube.php on line 5

excuse my ignorance but can't find a way to remove this error.

[2019-05-01 01:45] kevinweber commented on #18
@suziehk Can you search your wp-content directory for `Lazyload_Videos_Youtube`? It looks like some other plugin or a theme is using this class name. There can only be one such class in your WordPress directory. If you find `Lazyload_Videos_Youtube`, a solution could be to disable/remove one of the plugins/themes with the duplicate class.

[2019-05-02 20:46] lucasdidthis opened #20 "Is there a way to use the plugin without jQuery?"
Hej!

I would really like to use your plugin, but I do not use (and I don't want to use) jQuery.

Is there a way to use the plugin without jQuery or is there a chance you're going to change to Vanilla JS anytime soon?

Thanks and all the Best
Lucas

[2019-05-03 07:48] kevinweber commented on #20
@lucasdidthis
I started working on this today. Would you be able to test the update before I publish it to the world? I can share a ZIP file so you can upload it to your webspace before the official release.

[2019-05-03 07:49] lucasdidthis commented on #20
Yeah sure, anything I can do to help making this work! :-)

[2019-05-05 02:00] kevinweber commented on #17
@Jez86 From my understanding, it's not possible using Youtube's URL schema to define when specific videos of a playlist start, see: https://webapps.stackexchange.com/questions/119264/how-to-set-start-end-time-for-every-video-on-playlist-in-youtube. I'm using Youtube's playlist feature to play the preroll video before the main video.

I could imagine it's possible to implement some custom logic int

[2019-05-05 02:00] #17 closed

[2019-05-07 05:20] kevinweber commented on #11
Insufficient information.

[2019-05-07 05:20] #11 closed

[2019-05-07 05:30] kevinweber commented on #20
Here we go @lucasdidthis: https://github.com/kevinweber/lazy-load-for-videos/archive/kw--refactor.zip
Can you please upload the content of this ZIP file to your webspace and make sure everything works as expected? Then I'll release this as version 2.7.0 to the world.
Note that jQuery is currently still used for the admin panel; it's not required for the public-facing part of your WordPress site. I

[2019-05-08 06:21] kevinweber commented on #20
@lucasdidthis If you have a chance, please take a look today. Otherwise I'll simply go for it and publish the change. I'll only work on improving this plugin this week. Any potential issues need to be resolved by the end of this week.

[2019-05-08 06:31] lucasdidthis commented on #20
@kevinweber Wow, that was fast, thank you so much! I'm going to look into it today, but could you please explain how to set up the ZIP? Do I install the current Version of the plugin and override the files with the files from the ZIP via FTP? Or do I create a folder manually in the plugin directory and insert the files from the ZIP (without the plugin installed)?

[2019-05-08 06:42] kevinweber commented on #20
@lucasdidthis Ah, yes, I'd recommend:
1. Download the ZIP file: https://github.com/kevinweber/lazy-load-for-videos/archive/kw--refactor.zip
2. Unzip it and you'll get a folder "lazy-load-for-videos-kw-refactor".
3. Upload what's in the folder (not the folder itself) into the existing plugin folder on your webspace so it replaces existing files. The path to the folder should be something like: `wp-

[2019-05-08 07:35] lucasdidthis commented on #20
The Plugin throws an error on its settings page (which does not appear anywhere else):
`Your active theme might be missing the call to <?php wp_footer(); ?>
Always have it just before the closing tag of your theme, or you will break many plugins. See wordpress.org.`

[2019-05-08 09:10] lucasdidthis commented on #20
Unfortunately I have some (apparently plugin unrelated) problems with Video embeds in general currently. I hope I can fix them during the day.

[2019-05-08 23:58] kevinweber commented on #20
@lucasdidthis The "wp_footer" error shouldn't be caused by my latest changes… You should get it even without them. Have you checked if your theme includes "wp_footer" somewhere in it?

What's the issue with your video embeds? You might need to refresh all your embeds:
- Activate my plugin.
- Go to the plugin's admin panel and check both "Disable Lazy Load for Youtube" and "Disable Lazy Load for Vi

[2019-05-09 07:19] lucasdidthis commented on #20
@kevinweber Thanks for the help. I did resolve the "wp_footer"-error (it was indeed missing in the theme I wrote), but I can't make the embeds work. I did deactivate all plugins and changed the website to the "Twenty Nineteen" Theme, but the embeds still won't work. If I use the embed-code provided by YouTube on the other hand, the videos show up. So my problems does not seem to be related to this

[2019-05-09 14:05] lucasdidthis commented on #20
Propably the code it puts out (instead of the videos) helps to identify the problem:
`<div>

<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube">
<div class="wp-block-embed__wrapper">https://www.youtube.com/watch?v=ioZX_pJz-Cc</div>
</figure>

</div>`

[2019-05-09 15:11] kevinweber commented on #20
This could still be related to my plugin even after deactivating...

Have you ever updated one of the posts with a broken video after you
recognized the link is broken? Please try that: Update a post and see if
the link is still broken for that post.

Were those links broken before you uploaded my ZIP file?

What JavaScript errors is the browser DevTool throwing, if any?

On Thu, May 9, 2019, 7:05

[2019-05-09 15:23] lucasdidthis commented on #20
I've updated the post several times (to try different things), yes. Every time I re-open the post to edit it, it shows a loading spinner for a very short time, but then the embed still fails. Just like when embeding it for the first time.

My blog is rather new, there was no video-post before I installed the updated (ZIP) plugin. Unfortunately I can't tell, if the embed mechanic broke when I insta

[2019-05-09 15:57] kevinweber commented on #20
Assuming that you disabled my plugin and you saved the post after disabling
it, I'm fairly certain that this issue is not related to my plugin.

On Thu, May 9, 2019, 8:23 AM Lucas <notifications@github.com> wrote:

[2019-05-11 06:18] #13 closed

[2019-05-11 06:18] #18 closed

[2019-05-11 06:37] kevinweber commented on #15
The latest version of this plugin now better handles supports Ajax-related issues. However, if your theme doesn't support WordPress' "oembed" feature, there isn't much I can do about it.

[2019-05-11 06:37] #15 closed

[2019-05-11 06:39] kevinweber commented on #14
This sounds like your theme doesn't support oembed, or your theme uses Ajax to load the content. If the theme uses Ajax, the issue might be fixed with the latest version of this plugin (v2.7.0).

[2019-05-11 06:39] #14 closed

[2019-05-12 15:59] lucasdidthis commented on #20
Sorry for digging this up, but there seem to be a problem with your plugin after all. :-(

I made the embed work, but when I install the new version of the plugin (you provided via ZIP), it kills the embed in the frontend. Than it shows a simple link to the video instead of a Screenshot of the video.

[2019-05-12 16:07] lucasdidthis commented on #20
The Problem does appear, if the plugin is used straigt from the wordpress plugin repository, too. :-(

[2019-05-12 17:54] kevinweber commented on #20
Ugh… Luckily, I was able to reproduce this issue on one of my test sites. I just pushed another update: v2.7.1. Please give it a try and let me know if the issue is fixed.

The beauty of jQuery is that is prevents issues like this one. Now that the plugin is no longer relying on jQuery, I had to solve the issue myself. It has to do with when the script is being called. This is the fix, in case you

[2019-05-12 21:08] lucasdidthis commented on #20
Unfortunately the update doesn't do anything for me. In both of my installs (the regular one I fixed recently and a test system I set up to find my error) the plugin still breaks the videos. By the way: The problem appears no matter if I define a thumbnail or a pattern in the plugin settings.

I understand that jQuery does make things easier, but it often add s a lot of unnecessary weight to the s

[2019-05-12 21:29] kevinweber commented on #20
Can you share a link to your test system or, much better, your theme files?

[2019-05-12 21:33] kevinweber commented on #20
Can you please also make sure that the option "Only load CSS/JS when needed" in the plugin's admin settings is NOT checked?

[2019-05-12 21:53] lucasdidthis commented on #20
Did not do anything. :-(

Sure, its on [https://inkmyday.com/](https://inkmyday.com/), but I need an email adresse to send you the htaccess data - since I do not want to publish it here.

The error appears regardless of the theme, on this test system I'm using the standard theme (Twenty NineteenVersion: 1.4).

[2019-05-13 20:12] lucasdidthis commented on #20
Weird stuff going on (without me doing/changing anything)!

Now only the link to the video shoes up in the post editor again, but it does work in the frontend now _- kind of_. **Some CSS-Stuff does not work**; There's an empty space (sized exactly like the video, caused by a ":before"-element in front of the "container-lazyload"-element) and after loading the video by clicking the Screenshot, the

[2019-05-16 08:16] lucasdidthis commented on #20
There's a simple fix to get the css right:

``
figure > div.wp-block-embed__wrapper > div.container-lazyload{
top: 0;
right: 0;
bottom: 0;
left: 0;
position: aboslute;
}
``

[2019-05-16 08:17] lucasdidthis commented on #20
So the only thing not working is the preview of the embed in the posts right now, But that's not a deal breaker.

[2019-05-17 13:52] SimeonGriggs commented on #9
Bumping this as I've got the same issue here.

1. Thumbnail images aren't lazy loaded, they're loaded as background-images on page load.
2. Thumbnail images are hotlinked from a CDN with a low expiry time, which effects page speed scores.

Is it possible to 'capture' and modify the output of the plugin? If so I'd write my own functionst to modify the output myself.

[2019-05-17 19:02] lucasdidthis opened #22 "Vimeo Lazy Load not working"
Hejhej!

Thanks for your good work, but I have to annoy you with another issue. :-(

The Vimeo-Video-Embed does not work as supposed: The Video embed loads stuff (cookies, a script and a/the frame) from vimeo right when the website is loaded _- and not after I click on the playbutton/screenshot._ Thats exactly what I want to prevent with your plugin.

I'm running WordPress 5.2 with the basic "Twen

[2019-05-17 19:08] lucasdidthis opened #23 "CSS Issue on YouTube embeds"
Hejhej!

Thanks for your good work, but I have to annoy you with another issue. :-(

The CSS for the YouTube Videos has to be corrected. First there's a big empty space in front of the video (I think it's caused by the ".wp-block-embed__wrapper::before" ). When the video is loaded, it's pushed down even further.

I'm running WordPress 5.2 with the basic "Twenty Nineteen" theme and your Plugin in V

[2019-05-17 19:08] #20 closed

[2019-05-17 19:15] lucasdidthis commented on #23
There's a simple fix for this. I added it to the CSS of the plugin myself, which is going to vanish on the next update of the plugin, so you should update the CSS.

``figure > div.wp-block-embed__wrapper > div.container-lazyload.container-youtube{
top:0;
right:0;
bottom:0;
left:0;
position:absolute;
}``

[2019-05-17 19:22] lucasdidthis commented on #22
I'm not sure why, though, because I can't see the frame in the code before the playbutton/screenshot is pushed.

And there's another Vimeo-Issue: When the video is not 16:9, the screenshot is not sized correctly.

[2019-05-18 04:52] kevinweber commented on #23
Please don't modify the plugin's code yourself (unless it's for a pull request). Instead, add your custom CSS to the text field in the admin panel where it says "Custom CSS" (`…/wp-admin/options-general.php?page=lazyload.php#general`). That value will persist no matter what version of the plugin you have.

Even though I'm testing the plugin with the Twenty Nineteen theme, I haven't been able to re

[2019-05-18 04:58] kevinweber commented on #22
1. Have you checked the "Responsive Mode" option in the admin panel?

2. On my test site, I'm not seeing the Vimeo player JS. Can you please provide more details about what scripts are being loaded and share a link to a page where I can see it in action?

On my test site, if the plugin is NOT enabled, the following script is loaded:
https://f.vimeocdn.com/p/3.11.17/js/player.js

If the plugin IS e

[2019-05-18 15:26] lucasdidthis commented on #22
You're right, the Script that is called, is coming from "https://vimeo.com/api/v2/video/316593453.json.json?callback=showThumb". I guess it is caused when the video grabs the screenshot, but the YouTube-Videos aren't doing anything similiar, so I guess this must not be?

The problem with this call is, if any sort of third-party-script-blocking is active, the vimeo screenshot is not loaded at all,

[2019-05-18 19:34] kevinweber opened #24 "Appended "#at=0" causes 404 for Vimeo thumbnails"
If the Vimeo URL is https://vimeo.com/316593453#at=0 instead of https://vimeo.com/316593453 (without the hash), a 404 gets thrown in the network panel and now thumbnail shows up.

Make sure to strip out any parameters when requesting the thumbnail so we don't get an error.

[2019-05-18 19:41] kevinweber commented on #22
Thanks, your insights are really helpful.

Regarding the API call: Unfortunately, Vimeo requires a call to their API in order to retrieve the thumbnail. This is different from Youtube where it's possible to get a useful thumbnail simply by inserting the ID of a video into an image URL.
You could change the "Thumbnails/Patterns" option in the admin panel to display one of the predefined patterns or

[2019-05-19 21:24] lucasdidthis commented on #22
Thank you very much for the info.

I still wish there would be an option for "real" responsive sizing, though. Couldn't it be an option to implement the feature by supporting some kind of classes for the embed video element? Like giving those video blocks the class "ratio_x-y" (ratio_16-9, ratio_4-3, etc.) for specifc ratios and fall back to 16:9 if no such class is added?

Then users could still

[2019-05-24 07:09] JSchork commented on #24
Hi, we experienced the same problem, but with normal YouTube URLs. The thumbnail of some videos is not shown properly, even though we inserted the plain URL without #at=0.

Here, you can find an example: https://gartenprimus.de/nagelschuhe

The inserted YouTube URL is: https://www.youtube.com/watch?v=yXm2Q8nVgP0

[2019-05-24 14:53] lucasdidthis commented on #22
I've noticed, that you're able to choose the size of the embeded video with the classes "wp-embed-aspect-x-y" and "wp-has-aspect-ratio", but it only affects the size of the div element, the embed itself (the preview as well as the iframe) does not show up in the right size. :-/

[2019-05-30 14:56] lucasdidthis commented on #22
I'm not getting the JavaScript 100%, but isn't it possible to do something like this

`var ratio = .5625;
if( ELEMENT.classList.contains(".wp-has-embed-ratio") ){
    var classes = ELEMENT.classList;
    var ratio_class = str.substring(
        classes.lastIndexOf("wp-embed-aspect-") + 1,
        classes.lastIndexOf(" ")
    );
    var split_array = mystring.split("-");
    var x = newarray[0];

[2019-05-31 05:58] kevinweber commented on #22
That sounds reasonable to me. I'd have to look more into this, though. Right now, I'm slammed with other opportunities and don't want to prioritize working on this plugin.

If you can it working, you can make a pull request to this project and I'll happily review your changes, provide feedback and merge it.

[2019-06-01 07:44] lucasdidthis commented on #22
I did implement it and pushed it to my own fork of the plugin: [https://github.com/lucasdidthis/lazy-load-for-videos/commits/master](https://github.com/lucasdidthis/lazy-load-for-videos/commits/master). I did not minify the Javascript for you to easier review the changes. Propably not the most elegant solution, but it does work on my wordpress blog this way.

[2019-06-01 08:02] lucasdidthis commented on #22
I do notice, that there's a little error when calculating for a 21:9 video. The iframe seems to be a few pixels smaller (in height) than the embed-element it's located in. It does not show on the preview-image, but it becomes visible, when the video is loaded (and the iframe has a black background). It does not affect 4:3 or 16:9 videos.

It does NOT work without the "wp-has-aspect-ratio" class, g

[2019-06-01 18:17] kevinweber commented on #22
Awesome, sounds good.
Once you got things working, it would be nice (though not 100% necessary)
if you can also implement Jest tests for your changes.

Once you're ready, please make a pull request from your fork to the
original repository, link from its description to this issue (#22) and
mention the name of the theme you used for testing this change.

I'll review everything in about 2-3 weeks.

[2019-06-01 18:29] kevinweber commented on #22
@lucasdidthis I just looked at your changes and realized something very important: You've been modifying the wrong files. In your branch, you added three new files into the root of the project. Don't ever manually touch the JS files in the assets folder and don't add a new file (unless you know exactly what you're doing). Instead, edit [lazyloadVimeo.js](https://github.com/lucasdidthis/lazy-load-f

[2019-06-01 20:49] lucasdidthis commented on #22
Thanks for the hint. Unfortunately "npm run watch" and "npm run production" cause errors, even though "npm run test" doesn't. :-(

`npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! lazy-load-for-videos@2.1.0 production: `NODE_ENV=production webpack --config ./webpack.config.js -p`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the lazy-load-for-videos@2.1.0 production script.
npm ERR! This i

[2019-06-02 05:40] kevinweber commented on #22
@lucasdidthis Is there more error output than just that? Try the suggestions on StackOverflow: https://stackoverflow.com/questions/42308879/npm-err-code-elifecycle.

Tip: You can use "\`\`\`" followed by text and closed with "\`\`\`" to show multi-line code snippets, like so (ignore the `>`):

[code]

[2019-06-02 11:45] lucasdidthis commented on #22
I was able to fix the error. I had to change the "video.js"-file to implement the change though. I cloned a new fork and created a pull request. I hope i did it right this time. Sorry for the inconvenience.

[2019-06-06 14:20] lucasdidthis opened #28 "Custom Play Button"
Hejhej!

Another suggestion for an enhancement: It would be amazing, if users could upload/use a custom Play Button (for all embeded videos).

Thanks & all the best,
Lucas

[2019-06-22 03:18] kevinweber opened #29 "Satisfy VideoObject schema requirements"
From @Play_Book_Of_Ra [via Twitter](https://twitter.com/Play_Book_Of_Ra/status/1141718665500528640):

![D9gzEkVXYAI2lTc](https://user-images.githubusercontent.com/2785791/59958833-b1f6f080-9461-11e9-8bdf-9ec6582dc72b.png)

[2019-07-23 16:20] cjrobe opened #31 "Not working when embed code is in PHP file"
It's working everywhere else on my site. But I can't get it to function with a video embedded through a PHP template file. I used oembed and the [embed] shortcode, both on the linked official Wordpress Embed page, and either the URL of the YouTube is displayed or nothing at all is displayed.

[2019-09-20 16:06] ironicmoka commented on #31
Same problem here with a custom field inside a loop of videos.
Probably the script fires before the loop outside the while (have_posts()) .

[2019-10-08 06:36] udarts commented on #29
Is this already being fixed? It's been a while since Jun 22.

[2019-10-12 02:55] kevinweber commented on #29
Yes, this has been resolved with v2.7.6. See also: https://wordpress.org/support/topic/error-in-structured-data-3/

[2019-10-12 02:55] #29 closed

[2019-11-06 08:40] kevinweber commented on #9
I plan to work on this in the next months by server-rendering the thumbnails instead of injecting it into the page using JavaScript.

[2019-11-06 08:46] kevinweber commented on #24
The Vimeo thumbnail issue is resolved with version 2.7.8. I haven't looked at the Youtube issue yet but I believe it'll be resolved as part of the v3 updates.

[2019-11-06 08:47] kevinweber commented on #24
I'm closing this ticket as it was opened for the Vimeo issue and not the Youtube issue. Please file a new ticket for just the Youtube case if still relevant.

[2019-11-06 08:47] #24 closed

[2019-11-06 08:50] kevinweber commented on #22
Hi @lucasdidthis, I've updated how Vimeo thumbnails are getting requested in version 2.7.8. Now the Vimeo-specific request to retrieve the thumbnail should no longer happen. Once you’ve updated to version 2.7.8, please go to the Lazy Load for Videos admin panel and click the “Update Posts” button at the bottom of the page to apply the change to all posts. Then let me know if the issue is resolved

[2019-11-06 09:01] SimeonGriggs commented on #9
Sweet. We ended up forking the plugin to download a local copy (into /wp-content/uploads/llfvcache/ or something) of each thumbnail and serving from there.

[2019-11-11 20:57] lucasdidthis commented on #22
Thanks for the fix and the info. Unfortunately I do not run any Wordpress-Site with your plugin at the moment, so I can't check if the issue is resolved. If I do, I'll let you know!

[2019-11-12 03:14] #22 closed

[2020-01-21 17:24] mtoensing opened #39 "Compatibility problems with Gutenberg Editor"
I use the Gutenberg Editor and it seems that the plugin code is executed but without the JS magic in the Gutenberg block. This overwrites the normal behaviour of the block.

Expected behaviour: Normal youtube Gutenberg embed or a preview of the final lazy embed.

![Screen Shot 2020-01-21 at 18 21 34](https://user-images.githubusercontent.com/136737/72827481-2a819200-3c7b-11ea-889d-278ea7d49f5c.png

[2020-01-26 08:44] kevinweber commented on #39
Hi @mtoensing, thank you for reporting this issue.
I've been looking into this and will share my observations here:

- The issue can be reproduced in the WP Twenty Twenty Theme by enabling the plugin
- At first I thought the issue could be related to https://github.com/WordPress/gutenberg/issues/8411 and https://github.com/WordPress/gutenberg/issues/18098 because if I disabled the plugin, the Yout

[2020-01-26 09:33] mtoensing commented on #39
The most professional answer I have ever read on a GitHub issue. Thank you.

[2020-02-14 19:47] kolinek opened #40 "not working on WordPress with OxygenBuilder"
https://oxygen-q8j7btzm7t36.oxygen-demo.qsandbox.me/
u: admin (test@test.com)
p: Yr9f1FGQYj4ebSNhu5W6KmAU

Is there anyway you can get your plugin working on this WP sandbox?
Not using gutenberg and have it working with the Oxygen Editor.

i've tried, but something is wrong or it is not able to work?

[2020-04-13 02:13] Supaiku opened #42 "Not working with Filterable Grid for Divi"
With the Filterable Grid for Divi Plugin (https://elegantmarketplace.com/downloads/filterable-grid-for-divi/) the lazy loader videos don’t show when the filter is changed.

https://www.sociocracyforall.org/content/#

https://wordpress.org/support/topic/no-video-previews-when-changing-filters-filterable-grid-for-divi/

[2020-05-12 01:47] scheinercc opened #43 "Demo is missing CSS in Firefox"
It seems like the stylesheets are not getting loaded in Firefox on https://www.kweber.com/lazy-load-videos/

[2020-05-12 02:41] kevinweber commented on #43
@scheinercc Thanks for letting me know!
I just fixed the issue: It wasn't related to the WordPress plugin but instead it was caused by my theme where I hadn't properly implemented lazy-loading of stylesheets.

[2020-05-12 02:41] #43 closed

[2020-05-12 08:36] scheinercc commented on #43
That was quick! I knew it wasn't the plugin, but I couldn't find an email address to let you know, so I misused Github ;)
I guess it had to do with this!? https://web.dev/defer-non-critical-css/
Mind telling me what bugged Firefox? Was it the ` onload="this.onload=null;this.rel='stylesheet'"`?

[2020-05-12 13:46] kevinweber commented on #43
@scheinercc I changed the link to `<link rel='preload stylesheet' as='style' id='$handle' href='$href' />` (added "stylesheet") and haven't actually verified if lazy-loading works. At this point, it doesn't really matter to my website, though, but I surely want it to work in FF.

[2020-05-13 01:48] scheinercc commented on #43
Thanks for sharing :) Will keep this in mind. Might be due to: https://bugzilla.mozilla.org/show_bug.cgi?id=1626997

[2020-05-13 23:33] Supaiku opened #44 "Add page/css class exclusions?"
Hello,

It seems there's no way to do this, could this feature be added?

thank you,
CJ

[2020-05-14 03:09] kevinweber commented on #44
I don't plan to add new features. Feel free to submit a PR.
A while back I added a similar feature to https://github.com/kevinweber/wbounce. You could check out that plugin for inspiration on how to exclude pages from loading the Lazy Load for Videos script.

[2020-05-14 03:09] #44 closed

[2020-05-15 01:08] scheinercc commented on #43
This might of interest for you as well: https://www.filamentgroup.com/lab/load-css-simpler/
also: https://stackoverflow.com/questions/32759272/how-to-load-css-asynchronously/46750893#46750893
also: https://caniuse.com/#search=preload

[2020-05-15 21:22] mrbm opened #45 "Youtube image overlapping white triangle"
<img width="805" alt="Screen Shot 2020-05-15 at 2 18 04 PM" src="https://user-images.githubusercontent.com/391043/82097275-6c659680-96b7-11ea-9a74-3920473a687d.png">

[2020-05-29 03:46] kevinweber commented on #45
@mrbm Thanks for reporting! Should now be fixed with version 2.8.7

[2020-05-29 03:46] #45 closed

[2020-08-11 13:13] flavourmedia commented on #39
I did run into the same problem and without removing and adding filters I could make it work (without using the_content) by getting the url from the block and adding wp_oembed_get to it.

$not_embedded =  $block['attrs']['url'];
$output = str_replace( $not_embedded, wp_oembed_get($not_embedded), $output );

[2020-08-29 17:08] kevinweber commented on #39
@mtoensing @flavourmedia Alrighty, I finally got to this and published proper Gutenberg support with version 2.9. Please update and let me know what you think! Now the block previews should match with what your end users will see. Aside from that, I made several changes under the hood, including properly clearing the caches –– I had to answer my own [StackOverflow question](https://wordpress.stack

[2020-08-29 17:18] mtoensing commented on #39
Looks great! =) Thank you!

[2020-09-14 20:02] mtoensing opened #49 "Lazy load for videos disables embed block size e.g. wide width or full width in Gutenberg Editor"
The latest version of this plugin makes the block size button disappear in Gutenberg:

Without the plugin activated:
<img width="661" alt="Screen Shot 2020-09-14 at 21 59 03" src="https://user-images.githubusercontent.com/136737/93132363-c8781000-f6d5-11ea-9e13-24ded14022f1.png">

Lazy load is activated and the button for the block size is missing.
<img width="751" alt="Screen Shot 2020-09-14 at 2

[2020-09-16 11:53] mtoensing commented on #49
@kevinweber Any idea how long this will take to fix? Or is this behavior indented?

[2020-09-16 20:34] kevinweber commented on #49
Hi @mtoensing, thanks for reporting this! This is an issue and I'm stuck on getting this working properly. I spent time yesterday trying to fix it but haven't found a satisfying solution yet… I pushed my changes to the master branch; feel free to use those files in the meantime but no guarantee that this will make it to an official WordPress release anytime soon: https://github.com/kevinweber/lazy

[2020-09-19 13:22] kevinweber commented on #49
@mtoensing I just published my change as v2.11.2. The full width alignment works fine now, and left/right-aligned videos should look fine for your readers as well. However, the left/right alignment is buggy in the editor and I don't have a fix for it and I don't plan on supporting left/right alignment anytime soon. Those who want to use it will need to live with the editor-flaws. Because the video

[2020-09-19 13:22] #49 closed

[2020-09-19 17:46] mtoensing commented on #49
Solution is fine for me. Thank you!

[2020-12-23 13:18] dwinnbrown commented on #39
Hey @kevinweber great plugin - really helpful! I just wanted to chime in here as found this old issue report but am having the exact same issues described on the latest version of WP. Currently using the Twenty Twenty One theme but have tested on Twenty Twenty and same issue.
<img width="2289" alt="Screenshot 2020-12-23 at 13 18 26" src="https://user-images.githubusercontent.com/12773283/102999673

[2020-12-29 22:32] kevinweber commented on #39
Thanks @dwinnbrown, I just checked the latest WP version and can confirm that the preview is broken again. I'm guessing that some of the Gutenberg code has changed that I'm reusing for Lazy Load for Videos. I'd have to do some digging into this but I don't want to make time for this right now; this compatibility problem shouldn't affect your end users, only the editing experience. I'm sorry for th

[2020-12-29 22:35] mtoensing commented on #39
My suggestion would be that you provide the option to change the layout in Gutenberg but don't bother to reflect these changes graphically. Just show the normal and standard appearance of a YouTube video embed and provide all settings but leave away the real time preview.

[2020-12-30 09:42] dwinnbrown commented on #39
@mtoensing That sounds like a good approach for now 👍  @kevinweber could you possibly point me in the direction of any code I might need to remove/comment out to keep the front-end functionality working but disable the lazy load preview in the back-end?

[2020-12-30 21:43] kevinweber commented on #39
@dwinnbrown @mtoensing Unfortunately, just showing the WordPress-default appearance of a YouTube video embed isn't easily possible because of how this plugin works. This plugin transforms the URL into a different HTML snippet that WordPress doesn't recognize as a default embed link anymore by the time it loads embeds in the editor. Given how the WordPress APIs and filters now work, it's probably p

[2021-01-04 12:49] dwinnbrown commented on #39
Thanks Kevin! Much appreciated - all resolved on my end now.

[2021-01-04 16:46] #39 closed

[2021-01-21 18:30] larssandergreen opened #52 "When oembed url is passed without size attributes, Vimeo thumbnail can be very low resolution"
It seems that Vimeo expects width and height attributes and otherwise returns a thumbnail that may be quite small. In my case, I have a video that is 945x wide, but the thumbnail Vimeo sends back is 295px wide—and so it looks very bad.

I've had a quick look at the code and it isn't apparent to me where this is being set or not set. If you could point me in the right direction, I could try to add

[2021-01-22 04:05] kevinweber commented on #52
You can check this part of the code: https://github.com/kevinweber/lazy-load-for-videos/blob/master/src/frontend/lazyload-vimeo/lazyloadVimeo.js#L19
And then the background size is being set based on the thumbnail type that was selected on the admin page: https://github.com/kevinweber/lazy-load-for-videos/blob/5e91dcd20dd8e3fd398289571186d7a153071002/src/php/static-styles.php#L66

[2021-01-22 22:25] larssandergreen commented on #52
Hmmm, I'm mystified why Oembed is pulling a tiny thumbnail in some cases. I'm guessing it's because the size isn't specified (e.g. using width=100%). But in any case, as I understand it, Vimeo is always going to give you the next smallest size thumbnail via Oembed, which seems less than ideal in this case.

So I think instead of grabbing the thumbnail from the existing Oembed, it could grab:
https

[2021-02-07 16:51] steinjer commented on #12
+1

[2021-02-11 06:17] R33D3M33R commented on #52
If you insert the video via URL, the thumbnail is blurry most of the times. The simplest solution to this would be adding a select box to the Vimeo settings with 480p, 720p and 1080p.

[2021-02-11 14:37] larssandergreen commented on #52
I'm happy to take a stab at a patch with my proposed solution above, if it makes sense to @kevinweber.

[2021-02-11 21:49] kevinweber commented on #52
@larssandergreen If you want to give it a try that would be great. I can't work on features right now but I'm happy to review & publish your change

[2021-04-16 00:33] larssandergreen commented on #52
I found a simpler solution that just uses a full size preview image from Vimeo. Maybe that's not ideal in all cases, but it's probably a significant improvement. Maybe in the future I can come back to this and implement the solution I wrote about above, but for now this seems like a significant step in the right direction.

[Pull request](https://github.com/kevinweber/lazy-load-for-videos/pull/55)

[2021-04-18 14:17] dcooney opened #56 "Ajax Support"
Hi, I am the developer of the [Ajax Load More](https://wordpress.org/plugins/ajax-load-more/) WordPress plugin.

I'm wondering if you have any public JavaScript methods I can hook into after successful Ajax requests to initiate the Lazy Load for Videos functionality on the new content?

I have several users looking for this functionality, I've spent a considerable amount of time inspecting the `sr

[2021-04-18 18:13] kevinweber commented on #56
Hi @dcooney, thank you for reaching out! Making Ajax Load More compatible with this video plugin would be fantastic. I don't think what you need is already available. I'm happy to give you some hints on how to make this work.

There's already the [`jQueryAjaxStop`](https://github.com/kevinweber/lazy-load-for-videos/blob/8baca630817f7cffc73b047b53706eea5f748141/src/frontend/shared/video.js#L64) fun

[2021-04-18 20:00] kevinweber commented on #52
Thanks @larssandergreen for your contribution. I commented on your PR (https://github.com/kevinweber/lazy-load-for-videos/pull/55#issuecomment-822051321) and followed up with some more changes here: https://github.com/kevinweber/lazy-load-for-videos/pull/57

[2021-04-18 20:09] kevinweber commented on #52
I just published the changes with plugin version 2.15.0. Please let me know if that solves the issue discussed in this thread.

[2021-04-23 17:45] dcooney commented on #56
@kevinweber Thank you, this really helps. I have this working and will have a PR incoming for this. I'm not sure you'll love the solution but the way the plugin functionality is split into separate vimeo and youtube JS files makes it somewhat challenging.

[2021-05-11 09:22] Welldoor opened #58 "Thumbnail blurred on big size"
Hey,

can you please have a short look at https://wellbeingstiftung.de/ ?

The site speed improved a lot with your plugin and the bunch of vimeo videos!!

But here comes the problem, the first thumbnail is blurred. It worked before thou.

I activated/deactivated W3total Cache and EWWW Image Optimizer.

I updated to current version yesterday, but I don't think that made the difference?!

In the end

[2021-05-12 06:27] kevinweber commented on #58
Ha, that's strange. Thanks for reporting the issue and for providing helpful details (link, screenshot).

It looks like either Vimeo or oEmbed started to no longer respond with thumbnails that have a file extension. I just published v2.15.2 with a fix. Let me know if that fixed it.

[2021-05-12 09:28] Welldoor commented on #58
Works! Thanks a lot!

[2021-05-12 09:28] #58 closed

[2021-05-20 14:49] spurznet commented on #16
Tried using it on a page that is built with WPBakery page builder. But when you click on Play, you can hear the video start, but the player only ever get's a height of 0.
Setting it to "100%" in CSS does not work, so I would have to set a dedicated px height for every single embedded video.

[2021-06-28 16:58] wormeyman opened #59 "Switch to WordPress default styling"
1. https://make.wordpress.org/core/2019/04/02/admin-tabs-semantic-improvements-in-5-2/
2. https://nimblewebdeveloper.com/blog/add-tabs-to-wordpress-plugin-admin-page

I'm thinking of submitting a PR for this let me know if that would be appreciated.

[2021-06-28 17:44] kevinweber commented on #59
Hi @wormeyman, yes, the current UI is rather antique and I'd love and appreciate your contribution!

[2021-06-28 19:23] wormeyman commented on #59
Hi @kevin, I unfortunately could not get the NPM modules to install. I think this is because i have an M1 Mac. I understand if you do not have the time to debug my issue. It appears to be related to lib-sass.

[2021-06-28 19:47] kevinweber commented on #59
What's the error? I'd guess that many others on the internet have had the issue before and the fix should be easy. Maybe the NPM dependencies need to be updated? I just did that: updated various CSS-related dependencies and pushed the changes to the master branch. Let me know if it's still an issue.

[2021-06-28 19:54] wormeyman commented on #59
Thanks for the dependency updates everything installed successfully this time.

[2021-07-02 20:27] #59 closed

[2021-08-30 11:44] mjaschen opened #62 "Wrong embed code cached when Feed/AMP is loaded first"
WordPress uses a cache for storing the embed markup after first retrieving it via *oEmbed* and transforming it to the lazy-load version afterwards. When Lazy Load for Videos is active, the transformed markup is stored in the cache instead of the original *iframe.*

However, the original oEmbed markup (iframe) is cached instead of the lazy-load version when the following conditions are met:

1. the

[2021-09-16 10:34] markhowellsmead opened #63 "Plugin throws multiple PHP notices"
`Notice: Undefined property: stdClass::$title in […]/wp-content/plugins/lazy-load-for-videos/src/php/class-admin-options.php on line 106`

`Notice: Undefined property: stdClass::$thumbnail_url in […]/wp-content/plugins/lazy-load-for-videos/src/php/class-admin-options.php on line 109`

`Notice: Undefined property: stdClass::$title in […]/wp-content/plugins/lazy-load-for-videos/src/php/class-admin-o

[2021-09-16 15:24] kevinweber commented on #63
It looks like that's related to a specific Vimeo embed. Can you share the Vimeo URL(s) you're using? And on what page is this error thrown, e.g. on a published blog post or when in the blog post editor or when on the plugin's admin panel?

[2021-09-16 15:28] markhowellsmead commented on #63
That's for https://vimeo.com/405106808. It's on a single custom post type view, where the code is loaded using `wp_oembed_get('https://vimeo.com/405106808, ['width' => 736, 'height' => 415])`.

[2021-09-16 16:02] kevinweber commented on #63
Sounds surprising that wp_oembed_get doesn't give you the same details… I'm not too familiar with this. Could you instead run the `run_shortcode` and `autoembed` on your custom post type? Something like this where I enable oEmbeds for widgets: https://github.com/kevinweber/lazy-load-for-videos/blob/master/src/php/inc/support_for_widgets.php

[2021-09-16 16:09] markhowellsmead commented on #63
`wp_oembed_get` returns the complete, finished HTML delivered the remote server. The site/theme/installation doesn't support shortcodes or widgets, so your suggestion wouldn't have any effect. It works on many other Vimeo videos, and in fact, the image replacement works fine. I'd suggest adding checks to ensure that the `stdClass` contains the indicated properties.

(Requires the null coalescing o

[2021-09-16 16:33] kevinweber commented on #63
Okay good, I'm happy to have such a solution. Would you mind putting up a PR with the fixes? Then you'll be sure that it's going to work for you. Otherwise I'll need to see when I can make time on one of the next weekends.

One note though: Let's not use the null coalescing operator because many WordPress sites aren't using PHP 7 yet. The required minimum version is just 5.6.20 or so.

[2021-09-20 07:36] markhowellsmead commented on #63
The PR referenced by #65 resolves this.

[2021-09-20 07:36] #63 closed